.about-product__wrapper {
  display: flex;
  flex-direction: column;

  @include font($oswald,36px,40px,400,#000000);

  width: 87%;
  margin: 0 auto;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    width: 92%;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 69px;
  }
}

.about-product__title {
  font: inherit;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
