.promo {
  @include font($oswald,$font-head-h2,36px,400,#000000);
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 708px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.promo__title {
  font: inherit;
  text-align: center;

  &--alternative {
    color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    width: 414px;
    text-align: start;
  }
}

.promo__text {
  font-size: $font-text;
  line-height: 100%;
  text-transform: uppercase;

  &--alternative {
    color: #ffffff;
  }
}

.promo__image {
  display: block;
}
