.promo {
  @include font($oswald,$font-head-h2,36px,400,#000000);
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 25px 15px;
}

.promo__title {
  font: inherit;

  &--alternative {
    color: #ffffff;
  }
}

.promo__text {
  font-size: $font-text;
  line-height: 100%;
  text-transform: uppercase;

  &--alternative {
    color: #ffffff;
  }
}
