.value {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.value__term {
  @include font($lato,12px,12px,400,#444444);
}

.value__description {
  font-size: $font-head-h3;
  line-height: 100%;
}
