.address__invite {
  margin: 0;
  padding: 0;

  @include font($oswald,16px,20px,400,#111111);
  text-transform: uppercase;
}

.address__contacts {
  margin: 0;
  padding: 0;

  @include font($lato,14px,20px,400,#444444);
}
