.button {
  padding: 10px 80px;
  display: inline-block;

  @include font($oswald,16px,20px,400,#ffffff);
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  text-align: center;

  &--primary {
    background-color: #68b738;
  }

  &--secondary {
    background-color: #f2f2f2;
    color: #444444;
  }
}
