.main-nav {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 13px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 710px;
    padding: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-nav__wrapper {
  display: flex;
}

.main-nav__logo {
  height: 65px;

  @media (min-width: $tablet-width) {
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
