.program-list {
  margin: 0;
  padding: 22px 0 19px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 25px 0 28px;
    padding-bottom: 10px;
    margin: 0 71px 75px 71px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin: 0;
    margin-bottom: 0;
    padding: 25px 0;
    padding-bottom: 0;
  }
}

.program-list__item {
  margin-bottom: 13px;
}

.program-list__item-title {
  display: inline-block;
  position: relative;
  padding: 6px 45px;

  @media (min-width: $tablet-width) {
    padding: 5px 45px;
    padding-left: 60px;
  }

  &--darker {
    color: #222222;
  }

  &--dark {
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-list__radio-mark {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program-list__item-title:hover .program-list__radio-mark {
  border: 1px solid #000000;
}


.program-list__radio:checked + .program-list__radio-mark::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  top: 7px;
  left: 8px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }
}

.program-list__radio:hover + .program-list__radio-mark {
  border-color: #bababa;
}

.program-list__radio:focus-visible + .program-list__radio-mark {
  border: 2px solid #444444;
}

.program-list__radio:disabled + .program-list__radio-mark,
.program-list__radio:disabled ~ .program-list__item-title {
  opacity: 0.3;
}
