.products {
  @include font($oswald,36px,36px,400,#000000);
}

.products__wrapper {
  margin: 0 auto;
  width: 87%;

  @media (min-width: $tablet-width) {
    width: 92%;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.products__title {
  font: inherit;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 64px;
    margin-bottom: 85px;
  }
}

.products__cards {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-bottom: 68px;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    grid-template-columns: repeat(4, 245px);
    gap: 60px 80px;
  }
}
