// font
$oswald: "Oswald", "Arial", sans-serif;
$lato: "Lato", "Helvetica", sans-serif;
$font-head-h2: 36px;
$font-head-h3: 24px;
$font-text: 14px;

// media
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
