.additionally {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.additionally__title {
  @include font($oswald,$font-head-h3,26px,400,#000000);
  position: relative;
  display: inline-block;
  text-transform: none;
  margin: 0;
  margin-bottom: 34px;

  &--darker {
    color: #222222;
  }

  &--dark {
    color: #000000;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 1000%;
    background-color: #67b737;
    z-index: -1;
    right: calc(100% + 40px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 1000%;
    background-color: #67b737;
    z-index: -1;
    left: calc(10% + 130px);

    @media (min-width: $tablet-width) {
      left: calc(100% + 40px);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 57px;
  }
}

.additionally__group {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 64px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 242px);
    gap: 0 84px;
  }
}

.additionally__item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
}

.additionally__item-title {
  display: inline-block;
  position: relative;
  padding: 6px 0 6px 46px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 60px;
  }
}
