.comment {
  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.comment__title {
  font-size: $font-head-h3;
  line-height: 26px;

  &--darker {
    color: #222222;
  }

  &--dark {
    color: #000000;
  }
}

.comment__text {
  width: 100%;
  font: inherit;
  text-transform: uppercase;
}
