.profile {
  @include font($oswald,16px,18px,400,#444444);
  text-transform: uppercase;
}

.profile__field {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 25px;
}

.profile__wrapper-cat {
  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 569px 568px;
    gap: 0 80px;
  }
}

.profile__fields {
  @include font($lato,14px,16px,400,#000000);
  text-transform: none;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
  }
}

.profile__wrapper-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 82%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 64px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: 568px 568px;
    gap: 0 84px;
  }
}
