.programm-selection {
  @include font($oswald,36px,36px,400,#000000);
}

.programm-selection__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 628px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.programm-selection__title {
  font: inherit;
}

.programm-selection__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
