@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
}
.main-container {
  flex-grow: 1;
}

.catalog {
  flex-grow: 1;
}

.select-program {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #444444;
}

.main-header {
  background-color: #ffffff;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    max-width: 1220px;
    border-bottom: 0;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 24px;
  height: 1px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 5px;
  width: 25px;
  height: 1px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--nojs .main-nav__list {
  position: static;
}

.main-nav--opened .main-nav__list {
  position: absolute;
  z-index: 10;
  top: 58px;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__list {
    position: static;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 175px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-top: 24px;
  }
}
@media (min-width: 1280px) {
  .main-nav__wrapper {
    width: 202px;
    padding-top: 53px;
  }
}

.main-nav__logo-text {
  padding: 0 18%;
  padding-right: 25%;
}
@media (min-width: 768px) {
  .main-nav__logo-text {
    padding: 0;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 57%;
  }
}
@media (min-width: 1280px) {
  .main-nav__list {
    width: 478px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 35px;
  height: 25px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.logo-image {
  text-decoration: none;
}
.logo-image:hover {
  opacity: 0.8;
}
.logo-image:active {
  opacity: 0.6;
}

.logo-image__item {
  display: block;
}

.logo-text {
  text-decoration: none;
}
@media (min-width: 768px) {
  .logo-text {
    display: none;
  }
}
.logo-text:hover {
  opacity: 0.8;
}
.logo-text:active {
  opacity: 0.6;
}

.logo-text__item {
  display: block;
}
@media (min-width: 768px) {
  .logo-text__item {
    display: none;
  }
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  width: 100%;
}
.menu:last-child {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .menu {
    width: 57%;
    padding-top: 42px;
  }
  .menu:last-child {
    border: none;
  }
}
@media (min-width: 1280px) {
  .menu {
    max-width: 478px;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 69px;
  }
}

.menu__item {
  display: block;
  width: 100%;
  z-index: 2;
}
@media (min-width: 768px) {
  .menu__item {
    width: auto;
  }
  .menu__item--current {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .menu__item--current-alt {
    border-color: #ffffff;
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  padding: 22px 15px;
  border-top: 1px solid #e6e6e6;
}
.menu__link:hover {
  color: rgba(0, 0, 0, 0.7);
}
.menu__link:active {
  color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 1280px) {
  .menu__link--alt:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}
@media (min-width: 1280px) {
  .menu__link--alt:active {
    color: rgba(255, 255, 255, 0.4);
  }
}
@media (min-width: 1280px) {
  .menu__link--alt {
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .menu__link {
    padding: 0;
    padding-bottom: 10px;
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .menu__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 0 20%;
    width: 92%;
    max-width: 1220px;
  }
}

.main-footer__logo-footer {
  width: 100%;
  text-align: center;
  padding: 39px 0 32px 0;
  border-bottom: 1px solid #d9d9d9;
}
.main-footer__logo-footer:hover {
  opacity: 0.8;
}
.main-footer__logo-footer:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-footer__logo-footer {
    width: 33%;
    text-align: left;
    border-bottom: none;
  }
}

.dealers-info {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
}
.dealers-info--darker {
  background-color: #f2f2f2;
}

.dealers-info__container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.dealers-info__wrapper {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
  padding: 26px 0;
}
@media (min-width: 768px) {
  .dealers-info__wrapper {
    justify-content: space-around;
    width: 92%;
  }
}
@media (min-width: 1280px) {
  .dealers-info__wrapper {
    justify-content: space-evenly;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 3;
    width: 39%;
    background-color: #ffffff;
    padding: 60px 0 56px 0;
  }
}

.dealers-info__invite {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .dealers-info__invite {
    font-size: 20px;
    line-height: 26px;
  }
}

.dealers-info__contacts {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #444444;
}
@media (min-width: 768px) {
  .dealers-info__contacts {
    font-size: 16px;
    line-height: 20px;
  }
}

.dealers-info__map-wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 1440px;
}

.dealers-info__map-interactive {
  display: block;
  border: none;
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  .dealers-info__map-interactive {
    height: 400px;
  }
}

.dealers-info__map {
  display: block;
}
@media (min-width: 768px) {
  .dealers-info__map {
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .dealers-info__map {
    width: 100%;
  }
}

.dealers-info__logo-pin {
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  top: 135px;
  left: 134px;
  right: 129px;
}
@media (min-width: 768px) {
  .dealers-info__logo-pin {
    width: 113px;
    height: 106px;
    top: 110px;
  }
}
@media (min-width: 1280px) {
  .dealers-info__logo-pin {
    top: 111px;
    left: auto;
    right: 635px;
  }
}

.social-list {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10%;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social-list {
    width: 33%;
    border-bottom: none;
  }
}

.social-list__link {
  display: block;
}
.social-list__link:active {
  opacity: 0.3;
}

.social-list__link:hover path {
  fill: #68b738;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .copyright {
    width: 35%;
  }
}

.copyright__text {
  margin: 0;
}

.copyright__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.copyright__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .copyright__link {
    justify-content: flex-end;
    gap: 0 20px;
  }
}

.copyright__link:hover path {
  fill: #68b738;
}

.button {
  min-width: 280px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}
.button--primary {
  background-color: #68b738;
}
.button--primary:hover {
  background-color: #5eaa2f;
}
.button--primary:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
}
.button--secondary:hover {
  background-color: #ebebeb;
}
.button--secondary:active {
  color: rgba(0, 0, 0, 0.3);
}
.button--submit {
  font-size: 16px;
}
@media (min-width: 768px) {
  .button--submit {
    padding: 15px 0;
    font-size: 20px;
  }
}

.main-container {
  margin: 0;
  padding: 0;
}

.promo {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}
.promo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 302px;
  top: 0;
  left: 0;
  right: 0;
  background: #444444;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/index-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .promo::before {
    background: #ffffff;
  }
}
@media (min-width: 1280px) {
  .promo::before {
    width: 50%;
    height: 694px;
    top: -111px;
    left: 50%;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/index-background-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .promo__wrapper {
    width: 92%;
    max-width: 1220px;
    align-items: flex-start;
  }
}
@media (min-width: 1280px) {
  .promo__wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 136px;
  }
}

.promo__text-group {
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .promo__text-group {
    padding-left: 87px;
    order: 1;
  }
}
@media (min-width: 1280px) {
  .promo__text-group {
    order: 1;
  }
}

.promo__title {
  margin: 0;
  padding: 25px 15px;
  font: inherit;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__title {
    width: 416px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding: 62px 15px 41px 0;
  }
}

.promo__text {
  margin: 0;
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__text {
    padding: 0 15px 0 0;
    font-size: 20px;
    margin-bottom: 40px;
    color: #000000;
    text-align: start;
  }
}

.promo__image-wrapper {
  align-self: center;
  z-index: 2;
}
@media (min-width: 768px) {
  .promo__image-wrapper {
    order: 3;
    margin-top: -50px;
  }
}
@media (min-width: 1280px) {
  .promo__image-wrapper {
    margin-left: -60px;
    margin-top: 32px;
  }
}

.promo__image {
  display: block;
  padding-bottom: 3px;
}

@media (min-width: 768px) {
  .promo__button {
    order: 2;
    position: relative;
    z-index: 3;
    margin-left: 87px;
    min-width: 244px;
    font-size: 20px;
    padding: 14px 0;
  }
}
@media (min-width: 1280px) {
  .promo__button {
    position: absolute;
    bottom: 50%;
  }
}

.programms__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px 0;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .programms__wrapper {
    width: 92%;
    gap: 30px 0;
    max-width: 1220px;
  }
}
@media (min-width: 1280px) {
  .programms__wrapper {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 0 80px;
    margin-bottom: 71px;
  }
}

.programm-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 768px) {
  .programm-card {
    padding: 80px 60px 53px 52px;
  }
}
@media (min-width: 1280px) {
  .programm-card {
    padding: 77px 61px 55px 52px;
  }
}
.programm-card::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 10%;
  left: 22px;
}
@media (min-width: 768px) {
  .programm-card::before {
    width: 200px;
    height: 200px;
    top: 92px;
    left: auto;
    right: 62px;
  }
}
@media (min-width: 1280px) {
  .programm-card::before {
    width: 100px;
    height: 100px;
    top: 47px;
    right: auto;
    left: 52px;
  }
}
.programm-card--slim::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background-image: url("../img/index/decorative-image/cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 21px;
  left: 30px;
}
@media (min-width: 768px) {
  .programm-card--slim::after {
    width: 140px;
    height: 194px;
    background-size: 140px 194px;
    top: 81px;
    left: auto;
    right: 91px;
  }
}
@media (min-width: 1280px) {
  .programm-card--slim::after {
    width: 70px;
    height: 97px;
    background-size: 70px 97px;
    top: 41px;
    right: auto;
    left: 67px;
  }
}
.programm-card--pro::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background-image: url("../img/index/decorative-image/cat-pro.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 35px;
  left: 13px;
}
@media (min-width: 768px) {
  .programm-card--pro::after {
    width: 268px;
    height: 112px;
    background-size: 268px 112px;
    top: 135px;
    left: auto;
    right: 27px;
  }
}
@media (min-width: 1280px) {
  .programm-card--pro::after {
    width: 134px;
    height: 56px;
    background-size: 134px 56px;
    top: 67px;
    right: auto;
    left: 33px;
  }
}

.programm-card__title {
  padding-left: 66px;
  margin: 0;
  margin-bottom: 29px;
  font: inherit;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programm-card__title {
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  .programm-card__title {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.programm-card__description {
  position: relative;
  margin: 0;
  margin-bottom: 38px;
  min-height: 54px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .programm-card__description {
    font-size: 16px;
    margin-bottom: 48px;
    padding-right: 254px;
  }
}
@media (min-width: 1280px) {
  .programm-card__description {
    padding: 0;
    margin-bottom: 23px;
  }
}
.programm-card__description::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  top: 125%;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .programm-card__description::after {
    display: none;
  }
}

.programm-card__link {
  position: relative;
  width: 87px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 56px;
}
@media (min-width: 768px) {
  .programm-card__link {
    font-size: 20px;
    line-height: 30px;
    width: 110px;
  }
}
.programm-card__link::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  background-image: url("../img/index/decorative-image/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 4px;
  left: 102px;
}
@media (min-width: 768px) {
  .programm-card__link::before {
    left: 130px;
    top: 10px;
  }
}
.programm-card__link:hover::before {
  background: none;
  background-image: url("../img/index/decorative-image/long-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 4px;
  left: 102px;
}
@media (min-width: 768px) {
  .programm-card__link:hover::before {
    left: 130px;
    top: 10px;
  }
}
.programm-card__link:active {
  opacity: 0.3;
}

.about-product__wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 47px;
}
@media (min-width: 768px) {
  .about-product__wrapper {
    width: 92%;
  }
}
@media (min-width: 1280px) {
  .about-product__wrapper {
    width: 1220px;
    margin-bottom: 69px;
  }
}

.about-product__title {
  font: inherit;
  margin: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .about-product__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.benefits {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .benefits {
    display: grid;
    grid-template-columns: 2fr 250px;
    padding-right: 75px;
    gap: 37px 140px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .benefits {
    display: flex;
    flex-direction: row;
    gap: 0 73px;
    padding: 0;
  }
}

.benefits__item {
  position: relative;
  counter-increment: my-awesome-counter;
  min-height: 54px;
  margin-bottom: 24px;
  padding-left: 80px;
}
.benefits__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  left: 0;
  top: 0;
}
@media (min-width: 768px) {
  .benefits__item::before {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
@media (min-width: 768px) {
  .benefits__item::after {
    content: "" counter(my-awesome-counter);
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: 0;
    right: 0;
    z-index: -2;
  }
}
@media (min-width: 768px) {
  .benefits__item {
    width: 250px;
    padding: 0;
    height: 130px;
    padding-top: 151px;
    margin: 0;
  }
}
.benefits__item--first::before {
  content: "";
  position: absolute;
  background-image: url("../img/index/decorative-image/leaf.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.benefits__item--second::before {
  content: "";
  position: absolute;
  background-image: url("../img/index/decorative-image/flour.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.benefits__item--third::before {
  content: "";
  position: absolute;
  background-image: url("../img/index/decorative-image/eat.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.benefits__item--fourth::before {
  content: "";
  position: absolute;
  background-image: url("../img/index/decorative-image/clock.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.example {
  background-color: #eaeaea;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 768px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 58%, #eaeaea 42%);
  }
}
@media (min-width: 1280px) {
  .example {
    background: linear-gradient(to top, #f2f2f2 77%, #ffffff 23%);
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__wrapper {
    width: 92%;
    max-width: 1220px;
  }
}
@media (min-width: 1280px) {
  .example__wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .example__container-desktop {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
  }
}

@media (min-width: 768px) {
  .example__inner-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
  }
}
@media (min-width: 1280px) {
  .example__inner-wrapper {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 75px;
  }
}

.example__title {
  font: inherit;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .example__title {
    margin-top: 25px;
    margin-bottom: 146px;
  }
}

.example__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1280px) {
  .example__text {
    margin-bottom: 69px;
  }
}

.example__list {
  margin: 0;
  margin-bottom: 34px;
}
@media (min-width: 1280px) {
  .example__list {
    margin-bottom: 55px;
  }
}

.example__results {
  margin-bottom: 20px;
}

.example__slider {
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .example__slider {
    margin-bottom: 101px;
  }
}
@media (min-width: 1280px) {
  .example__slider {
    margin-bottom: 85px;
  }
}

.value {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .value {
    justify-content: flex-start;
    gap: 0 42px;
  }
}

.value__item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 1px solid #cdcdcd;
  width: 124px;
}
@media (min-width: 768px) {
  .value__item {
    width: 162px;
  }
}

.value__term {
  position: absolute;
  bottom: -10px;
  background-color: #eaeaea;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  width: 77px;
  text-align: center;
}
@media (min-width: 768px) {
  .value__term {
    width: auto;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    bottom: -7px;
    padding: 0 5px;
  }
}
@media (min-width: 1280px) {
  .value__term {
    background-color: #f2f2f2;
  }
}

.value__description {
  font-size: 24px;
  line-height: 100%;
  margin: 0;
  padding: 14px 0 17px;
}
@media (min-width: 768px) {
  .value__description {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 0 20px;
  }
}

.expenses {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2px;
}
@media (min-width: 768px) {
  .expenses {
    flex-direction: column;
    align-items: flex-end;
    gap: 9px 0;
  }
}
@media (min-width: 1280px) {
  .expenses {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0 63px;
  }
}

.expenses__title {
  margin: 0;
}
@media (min-width: 768px) {
  .expenses__title {
    font-size: 20px;
  }
}

.expenses__price {
  margin: 0;
}
@media (min-width: 768px) {
  .expenses__price {
    font-size: 20px;
  }
}

.catalog {
  background-color: #ffffff;
}

.products {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.products__wrapper {
  margin: 0 auto;
  width: 87%;
}
@media (min-width: 768px) {
  .products__wrapper {
    width: 92%;
  }
}
@media (min-width: 1280px) {
  .products__wrapper {
    width: 1220px;
  }
}

.products__title {
  position: relative;
  font: inherit;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
}
.products__title::after {
  content: "";
  position: absolute;
  width: 114%;
  height: 1px;
  background-color: #ebebeb;
  bottom: -41px;
  left: -7%;
  right: -10%;
}
@media (min-width: 768px) {
  .products__title::after {
    width: auto;
    height: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}
@media (min-width: 768px) {
  .products__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 64px;
    margin-bottom: 85px;
  }
}

.products__cards {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.products__cards::after {
  content: "";
  position: absolute;
  width: 114%;
  height: 1px;
  background-color: #ebebeb;
  bottom: -25px;
  left: -7%;
  right: -10%;
}
@media (min-width: 768px) {
  .products__cards::after {
    width: auto;
    height: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}
@media (min-width: 768px) {
  .products__cards {
    justify-content: center;
    margin-bottom: 68px;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .products__cards {
    margin-bottom: 76px;
    grid-template-columns: repeat(4, 245px);
    gap: 60px 80px;
  }
}

.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 40px;
  padding: 8px 0 11px 0;
}
.product-card::after {
  content: "";
  position: absolute;
  width: 114%;
  height: 1px;
  background-color: #ebebeb;
  bottom: -10px;
  left: -7%;
  right: -10%;
}
@media (min-width: 768px) {
  .product-card::after {
    width: auto;
    height: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}
.product-card:last-of-type::after {
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 23px;
  left: auto;
  right: auto;
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .product-card:last-of-type::after {
    width: 60px;
    top: 62px;
  }
}
@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 36px 39px 36px;
    background: linear-gradient(to top, #f2f2f2 84%, #ffffff 16%);
  }
}
.product-card--more-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-card--more-info::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 23px;
}
@media (min-width: 768px) {
  .product-card--more-info::before {
    width: 60px;
    top: 62px;
  }
}
@media (min-width: 768px) {
  .product-card--more-info {
    background: #ffffff;
    height: 388px;
    margin-top: 80px;
    border: 2px solid #f2f2f2;
  }
}

.product-card__title {
  margin: 0;
  margin-top: 11px;
  margin-right: 64px;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  grid-row: 1/2;
  grid-column: 2/3;
}
.product-card__title--more-info {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 53px;
}
@media (min-width: 768px) {
  .product-card__title--more-info {
    padding: 161px 55px 0 55px;
    margin: 0;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .product-card__title--more-info {
    padding: 160px 55px 0 55px;
  }
}
@media (min-width: 768px) {
  .product-card__title {
    margin: 0;
    margin-top: 34px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .product-card__title {
    text-align: center;
    padding-left: 15px;
    padding-right: 20px;
  }
}

.product-card__stats {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 9px;
}
@media (min-width: 768px) {
  .product-card__stats {
    margin-bottom: 33px;
  }
}

.product-card__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .product-card__text {
    font-size: 16px;
    line-height: 18px;
    padding: 0 40px;
    text-align: center;
    margin-bottom: 67px;
  }
}
@media (min-width: 1280px) {
  .product-card__text {
    padding: 0;
  }
}

.product-card__image {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .product-card__image--size-xs {
    width: 161px;
    height: 172px;
  }
}
@media (min-width: 768px) {
  .product-card__image--size-xl {
    width: 168px;
    height: 206px;
  }
}

.product-card__button {
  grid-column: 1/3;
  grid-row: 3/4;
}
.product-card__button--more-info {
  width: 100%;
  padding: 10px 0;
}
@media (min-width: 1280px) {
  .product-card__button--more-info {
    min-width: 148px;
  }
}
@media (min-width: 768px) {
  .product-card__button {
    width: 100%;
    min-width: 248px;
    padding: 10px 0;
  }
}
@media (min-width: 1280px) {
  .product-card__button {
    min-width: 148px;
  }
}

.stats {
  width: 100%;
  display: flex;
}

.stats__list {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .stats__list {
    font-size: 16px;
    gap: 7px 0;
  }
}

.stats__group {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .stats__group {
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.stats__term {
  margin: 0;
}

.stats__value {
  margin: 0;
}

.additional-products {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  overflow-x: hidden;
}

.additional-products__wrapper {
  margin: 0 auto;
  width: 87%;
}
@media (min-width: 768px) {
  .additional-products__wrapper {
    width: 92%;
  }
}
@media (min-width: 1280px) {
  .additional-products__wrapper {
    width: 1220px;
  }
}

.additional-products__title {
  font: inherit;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 36px;
  display: inline-block;
  position: relative;
}
.additional-products__title::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 1000%;
  background-color: #67b737;
  z-index: 1;
  right: calc(100% + 30px);
}
.additional-products__title::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 1000%;
  background-color: #67b737;
  z-index: 1;
  left: calc(50% + 130px);
}
@media (min-width: 768px) {
  .additional-products__title::after {
    left: calc(100% + 40px);
  }
}
@media (min-width: 768px) {
  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }
}

.additional-products__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px 0;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .additional-products__inner-wrapper {
    gap: 69px 0;
    margin-bottom: 76px;
  }
}
@media (min-width: 1280px) {
  .additional-products__inner-wrapper {
    flex-direction: row;
    gap: 0 79px;
    margin-bottom: 86px;
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .additional-products__list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1280px) {
  .additional-products__list {
    grid-template-columns: 896px;
  }
}

.additional-products__banner {
  position: relative;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/decorative-image/image-background-catalog.jpg");
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: cover;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .additional-products__banner {
    max-height: 200px;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .additional-products__banner {
    max-height: 290px;
    justify-content: center;
    align-items: flex-end;
  }
}
.additional-products__banner::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  background-image: url("../img/catalog/decorative-image/gift.svg");
  top: 59px;
}
@media (min-width: 768px) {
  .additional-products__banner::before {
    left: 77px;
  }
}

.additional-products__banner-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 0 60px 43px 60px;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .additional-products__banner-text {
    text-align: left;
    padding: 71px 124px 69px 422px;
  }
}
@media (min-width: 1280px) {
  .additional-products__banner-text {
    padding: 0 40px 43px 40px;
    margin: 0;
    text-align: center;
  }
}

.additional-product-card {
  padding: 13px 0 19px 0;
  border-top: 1px solid #cdcdcd;
}
.additional-product-card:last-of-type {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-product-card {
    padding: 26px 40px 28px 38px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
@media (min-width: 1280px) {
  .additional-product-card {
    border-left: 0;
    border-right: 0;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .additional-product-card__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .additional-product-card__container {
    grid-column: 1/4;
    margin-right: 50px;
  }
}

.additional-product-card__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .additional-product-card__group {
    justify-content: flex-end;
    gap: 0 50px;
    margin-bottom: 21px;
  }
}
@media (min-width: 1280px) {
  .additional-product-card__group {
    margin: 0;
    justify-content: space-around;
  }
}

.additional-product-card__product {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .additional-product-card__product {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1280px) {
  .additional-product-card__product {
    margin: 0;
  }
}

.additional-product-card__value {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-product-card__value {
    font-size: 16px;
  }
}

.additional-product-card__price {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-product-card__price {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .additional-product-card__button {
    min-width: 244px;
  }
}

.select-programm {
  margin: 0;
  padding: 0;
}

.programm-selection {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  overflow-x: hidden;
}

.programm-selection__wrapper {
  margin: 0 auto;
  width: 87%;
}
@media (min-width: 768px) {
  .programm-selection__wrapper {
    width: 82%;
    padding: 0 40px;
  }
  .programm-selection__wrapper--radio {
    padding: 0;
    margin: 0;
    margin-left: 28px;
  }
}
@media (min-width: 1280px) {
  .programm-selection__wrapper {
    width: 1220px;
    padding: 0;
  }
  .programm-selection__wrapper--cat-info {
    width: auto;
  }
  .programm-selection__wrapper--radio {
    width: auto;
  }
}

.programm-selection__title {
  font: inherit;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .programm-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 54px;
  }
}

.programm-selection__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .programm-selection__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    padding-right: 300px;
  }
}

.profile {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.profile__field {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 25px;
}

@media (min-width: 1280px) {
  .profile__wrapper-cat {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 569px 568px;
    gap: 0 80px;
  }
}

.profile__fields {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .profile__fields {
    margin: 0;
    font-size: 16px;
  }
}

.profile__wrapper-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .profile__wrapper-button {
    width: 82%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 64px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1280px) {
  .profile__wrapper-button {
    width: 1220px;
    grid-template-columns: 568px 568px;
    gap: 0 84px;
  }
}

.input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 20px 10px 20px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .input {
    font-size: 20px;
  }
}
.input:hover {
  border: 1px solid #cdcdcd;
}
.input:active {
  border: 2px solid #444444;
}
.input:invalid {
  border: 2px solid #ff8282;
}

.cat-info {
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .cat-info {
    margin-bottom: 70px;
    border-bottom: none;
  }
}

.cat-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  gap: 0 13px;
}

.cat-info__item-title {
  padding: 10px 0 10px 0;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .cat-info__item-title {
    font-size: 20px;
  }
}

.program-list {
  margin: 0;
  padding: 22px 0 19px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program-list {
    border-bottom: none;
    padding: 25px 0 28px;
    margin: 0 71px 70px 71px;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1280px) {
  .program-list {
    width: 568px;
    margin: 0;
    margin-bottom: 81px;
    padding: 25px 0;
  }
}

.program-list__item {
  margin-bottom: 13px;
}

.program-list__item-title {
  display: inline-block;
  position: relative;
  padding: 6px 45px;
}
@media (min-width: 768px) {
  .program-list__item-title {
    padding-left: 60px;
  }
}
.program-list__item-title--darker {
  color: #222222;
}
.program-list__item-title--dark {
  color: #000000;
}
@media (min-width: 768px) {
  .program-list__item-title {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-list__item-title:hover .program-list__radio-mark {
  border: 1px solid #000000;
}

.program-list__radio:checked + .program-list__radio-mark::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  top: 8px;
  left: 8px;
}
@media (min-width: 768px) {
  .program-list__radio:checked + .program-list__radio-mark::before {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }
}

.program-list__radio:hover + .program-list__radio-mark {
  border-color: #bababa;
}

.program-list__radio:disabled + .program-list__radio-mark,
.program-list__radio:disabled ~ .program-list__item-title {
  opacity: 0.3;
}

.program-list__radio-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .program-list__radio-mark {
    width: 40px;
    height: 40px;
  }
}

.contacts {
  margin: 0;
  padding: 26px 0 23px 0;
}
@media (min-width: 768px) {
  .contacts {
    margin-bottom: 65px;
    padding: 0;
  }
}

.contacts__title {
  position: relative;
  display: inline-block;
  padding-right: 28%;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  margin: 0;
  margin-bottom: 35px;
}
.contacts__title--darker {
  color: #222222;
}
.contacts__title--dark {
  color: #000000;
}
.contacts__title::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 1000%;
  background-color: #67b737;
  z-index: -1;
  right: calc(100% + 40px);
}
.contacts__title::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 1000%;
  background-color: #67b737;
  z-index: -1;
  left: calc(65% + 40px);
}
@media (min-width: 768px) {
  .contacts__title::after {
    left: calc(100% + 40px);
  }
}
@media (min-width: 768px) {
  .contacts__title {
    padding: 0;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: 1280px) {
  .contacts__container {
    display: grid;
    grid-template-columns: 569px 568px;
    gap: 0 80px;
  }
}

.contacts__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .contacts__item {
    margin-bottom: 20px;
  }
}

.contacts__item-title {
  white-space: nowrap;
}
@media (min-width: 768px) {
  .contacts__item-title {
    font-size: 20px;
  }
}

.contacts__icon-email,
.contacts__icon-phone {
  position: absolute;
  top: 13px;
  right: 20px;
}
@media (min-width: 768px) {
  .contacts__icon-email,
.contacts__icon-phone {
    top: 20px;
  }
}

.contacts__input {
  position: relative;
  padding-right: 40px;
}

.contacts__input:invalid + .contacts__icon-email path {
  stroke: #ff8282;
}
.contacts__input:invalid + .contacts__icon-phone path {
  stroke: #ff8282;
}

.contacts__input:focus-visible + .contacts__icon-email path {
  stroke: #67b737;
}
.contacts__input:focus-visible + .contacts__icon-phone path {
  stroke: #67b737;
}

.comment {
  margin: 0;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .comment {
    margin-bottom: 65px;
    padding: 0;
  }
}

.comment__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  position: relative;
  display: inline-block;
  text-transform: none;
  margin: 0;
  margin-bottom: 37px;
}
.comment__title--darker {
  color: #222222;
}
.comment__title--dark {
  color: #000000;
}
.comment__title::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 1000%;
  background-color: #67b737;
  z-index: -1;
  right: calc(100% + 40px);
}
.comment__title::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 1000%;
  background-color: #67b737;
  z-index: -1;
  left: calc(10% + 140px);
}
@media (min-width: 768px) {
  .comment__title::after {
    left: calc(100% + 40px);
  }
}
@media (min-width: 768px) {
  .comment__title {
    font-size: 36px;
    margin-bottom: 76px;
  }
}

.comment__text {
  padding: 9px 15px 9px 12px;
  margin: 0;
  width: 90%;
  font: inherit;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .comment__text {
    width: 97%;
    font-size: 20px;
    height: 154px;
  }
}
@media (min-width: 1280px) {
  .comment__text {
    width: 1220px;
  }
}

.additionally {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .additionally {
    margin-bottom: 54px;
  }
}

.additionally__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  position: relative;
  display: inline-block;
  text-transform: none;
  margin: 0;
  margin-bottom: 34px;
}
.additionally__title--darker {
  color: #222222;
}
.additionally__title--dark {
  color: #000000;
}
.additionally__title::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 1000%;
  background-color: #67b737;
  z-index: -1;
  right: calc(100% + 40px);
}
.additionally__title::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 1000%;
  background-color: #67b737;
  z-index: -1;
  left: calc(10% + 150px);
}
@media (min-width: 768px) {
  .additionally__title::after {
    left: calc(100% + 40px);
  }
}
@media (min-width: 768px) {
  .additionally__title {
    font-size: 36px;
    margin-bottom: 57px;
  }
}

.additionally__group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) {
  .additionally__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 64px;
  }
}
@media (min-width: 1280px) {
  .additionally__group {
    grid-template-columns: repeat(4, 242px);
    gap: 0 84px;
  }
}

@media (min-width: 768px) {
  .additionally__item {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
}

.additionally__item-title {
  display: inline-block;
  position: relative;
  padding: 6px 0 6px 46px;
}
@media (min-width: 768px) {
  .additionally__item-title {
    font-size: 20px;
    padding-left: 60px;
  }
}

.additionally__control-input:checked + .additionally__control-input-mark::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../img/form/checkbox.svg");
  top: 8px;
  left: 6px;
}
@media (min-width: 768px) {
  .additionally__control-input:checked + .additionally__control-input-mark::before {
    width: 24px;
    height: 18px;
    background-size: 24px 18px;
    top: 11px;
    left: 8px;
  }
}

.additionally__control-input:disabled + .additionally__control-input-mark,
.additionally__control-input:disabled ~ .additionally__label {
  opacity: 0.3;
}

.additionally__control-input-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .additionally__control-input-mark {
    width: 40px;
    height: 40px;
    top: -5px;
  }
}

.additionally__item-title:hover .additionally__control-input-mark {
  border-color: #bababa;
}
/*# sourceMappingURL=style.css.map */